#Home > header {
  height: 25%;
  display: flex;
  align-items: center;
}

#Home > header > h1 {
  font-family: "Nanum Gothic";
}

#functionalties {
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#functionalties > section {
  flex-basis: calc(25% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  margin: 8px;
  border-radius: 12px;
  cursor: pointer;
}

#journalTile {
  background-color: #36c755;
}

#todoTile {
  background-color: #027ad6;
}

#moreTile {
  background-color: tomato;
}
