* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100vh;
}

#mainHeader {
  background-color: rgb(66, 66, 66);
  position: fixed;
  height: 10vh;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#logoO {
  color: #027ad6;
}

#logoY {
  padding-left: 8px;
  color: #36c755;
}

.container {
  height: 90vh;
  position: relative;
  top: 10vh;
}

#logOutBtn {
  background-color: #027ad6;
  border: 0.5px solid snow;
  border-radius: 4px;
  color: snow;
}

.add-style {
  overflow: hidden;
  text-overflow: clip;
}
